<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado del film</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1>¿Estás seguro de querer eliminar esta película: <%= Movie.title %>???</h1>
    <p>
        <form action="/movies/delete/<%= Movie.id %>?_method=PUT" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Eliminar película</button>
            
            <a  class="botonVolver" href="/movies">Listado de películas</a></p>

        </form>
    </p>
    
</body>

</html>